<?php
define('SHOP',true);
define('SHOP_DSN', 'mysql:host=127.0.0.1;dbname=shop;charset=utf8mb4');
define('SHOP_DB_HOST', '127.0.0.1');
define('SHOP_DB_USER', 'root');
define('SHOP_DB_PASS', '');
define('SHOP_DB','shop');

define('SHOP_EMAIL', 'shop@example.com');

